<form autocomplete="off" class="fvtt-party-sheet-hc-form">
  <p>{{localize "fvtt-party-sheet.hide-sheet.tooltip"}}</p>
  <section class="fvtt-party-sheet-hc-section">
    {{#each characters}}
    <div class="fvtt-party-sheet-hc-item">
      <input type="checkbox" name="character-{{this.uuid}}" value="{{this.uuid}}" class="hidden-character" id="hidden-character-{{this.uuid}}" {{#hccontains this.uuid hiddenCharacters}}checked{{/hccontains}}>
      <label for="hidden-character-{{this.uuid}}">{{this.name}}</label>
    </div>
    {{/each}}
  </section>
  <button type="button" name="submit">
    <i class="fas fa-save"></i> Save
  </button>
</form>
