<form autocomplete="off" class="fvtt-party-sheet-hc-psform">
  <div class="fvtt-party-sheet-toprow">
    {{#unless enableOnlyOnline}}
    <button class="fvtt-party-sheet-options" name="fvtt-party-sheet-options"><i class="fas fa-cog"></i>{{localize "fvtt-party-sheet.hide-sheet.button" }}</button>
    {{/unless}}
    {{#unless minimalView}}
    <div style="flex-grow:1"></div>
    <button type="button" class="btn btn--primary" style="max-width:50px" name="feedback" title="{{localize "fvtt-party-sheet.party-sheet.feedback"}}">
      <i class="fas fa-comment"></i>
    </button>
    <button type="button" class="btn btn--primary" style="max-width:50px" name="bugreport" title="{{localize "fvtt-party-sheet.party-sheet.bugreport"}}">
      <i class="fas fa-bug"></i>
    </button>
    <button type="button" class="btn btn--primary" style="max-width:50px" name="discord" title={{localize "fvtt-party-sheet.party-sheet.discord"}}>
      <i class="fab fa-discord"></i>
    </button>
    {{/unless}}
  </div>
  {{#if applicableTemplates.length}}
    {{#hcifgte applicableTemplates.length 2}}
    <select name="fvtt-party-sheet-system" id="fvtt-party-sheet-system-select">
      {{#each applicableTemplates as |template|}}
      <option value="{{template.name}}___{{template.author}}" {{#ifCond template.name '==' ../selectedName}} {{#ifCond template.author '==' ../selectedAuthor }}selected{{/ifCond}}{{/ifCond}}>{{template.name}} - {{template.author}}</option>
      {{/each}}
    </select>
    {{/hcifgte}}
    {{#if players}}
    <table id='fvtt-party-sheet-ps-table'>
      <thead>
        {{#with players.[0] as |player_data|}}
          {{#each player_data as |row|}}
          <tr>
            {{#getKeys row}}
              {{#hcifhidden row key=this}}
                <th></th>
              {{else}}
                <th
                  colspan="{{getColSpan row this}}"
                  style="max-width:{{getMaxWidth row this}};min-width:{{getMinWidth row this}};"
                >{{this}}</th>
              {{/hcifhidden}}
            {{/getKeys}}
          </tr>
          {{/each}}
        {{/with}}
      </thead>
      {{#each players as |player_data|}}
        {{#each player_data as |player_row|}}
        <tr
          {{#checkIndex @../index}}
            class="dark"
          {{else}}
            class="light"
          {{/checkIndex}}
        >
          {{#getKeys player_row}}
            {{#isSpanOver player_row this}}
            <td
            class="fvtt-party-sheet-dc"
            rowspan="{{getRowSpan player_row this}}"
            style="text-align:{{getAlignment player_row this}};vertical-align:{{getVAlignment player_row this}};max-width:{{getMaxWidth player_row this}};min-width:{{getMinWidth player_row this}};"
            >
              {{getData player_row this}}
            </td>
            {{/isSpanOver}}
          {{/getKeys}}
        </tr>
        {{/each}}
      {{/each}}

      </tbody>
    </table>
    {{else}}
      {{#if invalidTemplateError}}
          <div class="fvtt-party-sheet-ps-no-players">{{{ localize "fvtt-party-sheet.party-sheet.invalid-template" }}}</div>
        {{else}}
          <div class="fvtt-party-sheet-ps-no-players">{{ localize "fvtt-party-sheet.party-sheet.no-players" }}</div>
      {{/if}}
    {{/if}}
  {{else}}
    <div class="fvtt-party-sheet-ps-no-systems">
      {{ localize "fvtt-party-sheet.party-sheet.no-systems" }}
      {{#if moduleSystemTemplates.length }}
        <div style="display:flex;flex-direction:row;flex-wrap:wrap">
          {{#each moduleSystemTemplates as |template|}}
          <div style="display:flex;flex-direction:row;flex-wrap:nowrap;padding: 3px;border: 1px solid black;border-radius: 5px;margin: 5px;">
                <div class="fvtt-party-sheet-ps-system-name" style="display:flex;flex-direction:column;flex-wrap:nowrap;width:200px;max-height:300px;">
                  <div style="font-weight:bolder;">NAME:</div>
                  <div style="padding-bottom:3px">{{template.name}}</div>
                  <div style="font-weight:bolder;">AUTHOR:</div>
                  <div style="padding-bottom:3px">{{template.author}}</div>
                  <div style="font-weight:bolder;">VERSION:</div>
                  <div style="padding-bottom:3px">{{template.version}}</div>
                  <div style="font-weight:bolder;">SYSTEM VERSION:</div>
                  <div style="flex-grow:1;">{{template.minimumSystemVersion}}</div>
                  <button
                    type="button"
                    class="fvtt-party-sheet-module-preview-button"
                    data-modulepath="{{template.preview}}"
                    >Preview
                  </button>
                  <button
                    type="button"
                    class="fvtt-party-sheet-module-install-button"
                    data-modulepath="{{template.path}}"
                  >Install</button>
                </div>
            </div>
          {{/each}}
          </div>
      {{/if}}
    </div>
  {{/if}}

  <button name="fvtt-party-sheet-close" class="fvtt-party-sheet-close"><i class="fas fa-times"></i>Close</button>
</form>
