<form autocomplete="off" class="fvtt-party-sheet-hc-psform" class="standard-form">
  <div class="fvtt-party-sheet-toprow">
    {{#unless enableOnlyOnline}}
    <button data-action="onOpenOptions"  class="fvtt-party-sheet-options" name="fvtt-party-sheet-options"><i class="fas fa-cog"></i>{{localize "fvtt-party-sheet.hide-sheet.button" }}</button>
    {{/unless}}
    <div style="flex-grow:1"></div>
    <button data-action="onInstaller"  type="button" class="btn btn--primary" style="max-width:50px" name="installer" title="{{localize "fvtt-party-sheet.installer"}}">
      <i class="fas fa-download"></i>
    </button>
    <button data-action="onOpenEditor"  type="button" class="btn btn--primary" style="max-width:50px" name="template-editor" title="Template Editor">
      <i class="fas fa-edit"></i>
    </button>
    {{#unless minimalView}}
    <button data-action="onFeedback"  type="button" class="btn btn--primary" style="max-width:50px" name="feedback" title="{{localize "fvtt-party-sheet.party-sheet.feedback"}}">
      <i class="fas fa-comment"></i>
    </button>
    <button data-action="onBugReport"  type="button" class="btn btn--primary" style="max-width:50px" name="bugreport" title="{{localize "fvtt-party-sheet.party-sheet.bugreport"}}">
      <i class="fas fa-bug"></i>
    </button>
    <button data-action="onDiscord"  type="button" class="btn btn--primary" style="max-width:50px" name="discord" title={{localize "fvtt-party-sheet.party-sheet.discord"}}>
      <i class="fab fa-discord"></i>
    </button>
    {{/unless}}
  </div>

  <!-- Preview Mode Banner -->
  {{#if isInPreviewMode}}
  <div class="preview-mode-banner">
    <div class="preview-mode-content">
      <i class="fas fa-eye"></i>
      <span class="preview-mode-text">
        <strong>{{localize "fvtt-party-sheet.preview-mode.active"}}</strong> - {{localize "fvtt-party-sheet.preview-mode.active-tooltip"}}
      </span>
    </div>
  </div>
  {{/if}}

  {{#if showInstaller}}
    {{> installer}}
  {{else}}
    {{#if applicableTemplates.length}}
      {{#hcifgte applicableTemplates.length 2}}
      <select name="fvtt-party-sheet-system" id="fvtt-party-sheet-system-select">
        {{#each applicableTemplates as |template|}}
        <option value="{{template.name}}___{{template.author}}" {{#ifCond template.name '==' ../selectedName}} {{#ifCond template.author '==' ../selectedAuthor }}selected{{/ifCond}}{{/ifCond}}>{{template.name}} - {{template.author}}</option>
        {{/each}}
      </select>
      {{else}}
        <div style="text-align:center;padding-top:0.25rem;">{{localize "fvtt-party-sheet.template"}}: {{applicableTemplates.[0].name}} - {{applicableTemplates.[0].author}}</div>
      {{/hcifgte}}
      {{#if players}}
      <table id='fvtt-party-sheet-ps-table'>
        <thead>
          {{#with players.[0] as |player_data|}}
            {{#each player_data as |row|}}
            <tr>
              {{#getKeys row}}
                {{#shouldSkipForColspan row this}}
                  <!-- Skip this header - it's covered by a previous header's colspan -->
                {{else}}
                  {{#hcifhidden row key=this}}
                    <th></th>
                  {{else}}
                    <th
                      colspan="{{getColSpan row this}}"
                      style="max-width:{{getMaxWidth row this}};min-width:{{getMinWidth row this}};"
                    >{{this}}</th>
                  {{/hcifhidden}}
                {{/shouldSkipForColspan}}
              {{/getKeys}}
            </tr>
            {{/each}}
          {{/with}}
        </thead>
        {{#each players as |player_data|}}
          {{#each player_data as |player_row|}}
          <tr
            {{#checkIndex @../index}}
              class="dark"
            {{else}}
              class="light"
            {{/checkIndex}}
          >
            {{#getKeys player_row}}
              {{#shouldSkipForColspan player_row this}}
                <!-- Skip this cell - it's covered by a previous cell's colspan -->
              {{else}}
                {{#isSpanOver player_row this}}
                <td
                class="fvtt-party-sheet-dc"
                colspan="{{getColSpan player_row this}}"
                rowspan="{{getRowSpan player_row this}}"
                style="text-align:{{getAlignment player_row this}};vertical-align:{{getVAlignment player_row this}};max-width:{{getMaxWidth player_row this}};min-width:{{getMinWidth player_row this}};"
                >
                  {{getData player_row this}}
                </td>
                {{/isSpanOver}}
              {{/shouldSkipForColspan}}
            {{/getKeys}}
          </tr>
          {{/each}}
        {{/each}}

        <!-- Totals Footer Row -->
        {{#with players as |allPlayers|}}
        <tr class="fvtt-party-sheet-totals-row dark" style="border-top: 2px solid #555; font-weight: bold; background-color: rgba(0, 0, 0, 0.1);">
          {{#with allPlayers.[0].[0] as |first_row|}}
            {{#getKeys first_row}}
              {{#shouldSkipForColspan first_row this}}
                <!-- Skip this cell - it's covered by a previous cell's colspan -->
              {{else}}
                {{#if (shouldShowTotal first_row this)}}
                  <td 
                    class="fvtt-party-sheet-dc"
                    colspan="{{getColSpan first_row this}}"
                    style="text-align:{{getAlignment first_row this}};font-weight:bold;"
                  >
                    Total: {{getColumnTotal allPlayers this 0}}
                  </td>
                {{else}}
                  <td 
                    class="fvtt-party-sheet-dc"
                    colspan="{{getColSpan first_row this}}"
                    style="text-align:{{getAlignment first_row this}};"
                  >
                    {{#if (eq this "Character Sheet")}}
                      <!-- Empty for character sheet column -->
                    {{/if}}
                  </td>
                {{/if}}
              {{/shouldSkipForColspan}}
            {{/getKeys}}
          {{/with}}
        </tr>
        {{/with}}

        </tbody>
      </table>
      {{else}}
        {{#if invalidTemplateError}}
            <div class="fvtt-party-sheet-ps-no-players">{{{ localize "fvtt-party-sheet.party-sheet.invalid-template" }}}</div>
          {{else}}
            <div class="fvtt-party-sheet-ps-no-players">{{ localize "fvtt-party-sheet.party-sheet.no-players" }}</div>
        {{/if}}
      {{/if}}
    {{else}}
      <div class="fvtt-party-sheet-ps-no-systems">
        {{ localize "fvtt-party-sheet.party-sheet.no-systems" }}
        {{#if moduleSystemTemplates.length }}
          {{> installer}}
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
  <button type="button" data-action="onCloseWindow" name="fvtt-party-sheet-close" class="fvtt-party-sheet-close"><i class="fas fa-times"></i>Close</button>
</form>
