<form autocomplete="off" class="totm-hc-psform">
  <div class="totm-toprow">
    {{#unless enableOnlyOnline}}
    <button class="totm-options" name="totm-options"><i class="fas fa-cog"></i>{{localize "theater-of-the-mind.hide-sheet.button" }}</button>
    {{/unless}}
    {{#unless minimalView}}
    <div style="flex-grow:1"></div>
    <button type="button" class="btn btn--primary" style="max-width:50px" name="feedback" title="{{localize "theater-of-the-mind.party-sheet.feedback"}}">
      <i class="fas fa-comment"></i>
    </button>
    <button type="button" class="btn btn--primary" style="max-width:50px" name="bugreport" title="{{localize "theater-of-the-mind.party-sheet.bugreport"}}">
      <i class="fas fa-bug"></i>
    </button>
    <button type="button" class="btn btn--primary" style="max-width:50px" name="discord" title="{{localize "theater-of-the-mind.party-sheet.discord"}}">
      <i class="fab fa-discord"></i>
    </button>
    {{/unless}}
  </div>
  {{#if applicableSystems.length}}
    {{#hcifgte applicableSystems.length 2}}
    <select name="totm-system" id="totm-system-select">
      {{#each applicableSystems as |system|}}
      <option value="{{system.name}}___{{system.author}}" {{#ifCond system.name '==' ../selectedName}} {{#ifCond system.author '==' ../selectedAuthor }}selected{{/ifCond}}{{/ifCond}}>{{system.name}} - {{system.author}}</option>
      {{/each}}
    </select>
    {{/hcifgte}}
    {{#if players}}
    <table id='totm-ps-table'>
      <thead>
        {{#with players.[0] as |player_data|}}
          {{#each player_data as |row|}}
          <tr>
            {{#getKeys row}}
              {{#hcifhidden row key=this}}
                <th></th>
              {{else}}
                <th
                  colspan="{{getColSpan row this}}"
                  style="max-width:{{getMaxWidth row this}};min-width:{{getMinWidth row this}};"
                >{{this}}</th>
              {{/hcifhidden}}
            {{/getKeys}}
          </tr>
          {{/each}}
        {{/with}}
      </thead>
      {{#each players as |player_data|}}
        {{#each player_data as |player_row|}}
        <tr
          {{#checkIndex @../index}}
            class="dark"
          {{else}}
            class="light"
          {{/checkIndex}}
        >
          {{#getKeys player_row}}
            <td
            class="totm-dc"
            style="text-align:{{getAlignment player_row this}};vertical-align:{{getVAlignment player_row this}};max-width:{{getMaxWidth player_row this}};min-width:{{getMinWidth player_row this}};"
            >
              {{getData player_row this}}
            </td>
          {{/getKeys}}
        </tr>
        {{/each}}
      {{/each}}

      </tbody>
    </table>
    {{else}}
      <div class="totm-ps-no-players">{{ localize "theater-of-the-mind.party-sheet.no-players" }}</div>
    {{/if}}

  {{else}}
    <div class="totm-ps-no-systems">{{ localize "theater-of-the-mind.party-sheet.no-systems" }}</div>
  {{/if}}

  <button name="totm-close" class="totm-close"><i class="fas fa-times"></i>Close</button>
</form>
