<form autocomplete="off" class="fvtt-party-sheet-template-status-dialog">
  <p>Template Status</p>
  <div style="display:flex; flex-direction:row; flex-wrap:nowrap">

    <div style="display: grid;grid-template-columns: repeat(2, 1fr);grid-template-rows: repeat(2, 1fr);grid-column-gap: 5px;grid-row-gap: 5px;">
        <div style="display:flex; flex-direction:column; flex-wrap:nowrap;flex-grow:1;">
            <p>The following templates are out of date:</p>
            <div style="background-color:#ffffff;flex-grow:1;padding:5px;">
            {{#each outOfDateTemplates}}
                <div>
                    {{this.name}} by {{this.author}}<br/>
                    Current Version:  <span style="color:#ff6666;background-color:#000000;border-radius:5px;padding:2px;">{{this.version}}</span>
                    Module Version: <span style="color:#00ff00;background-color:#000000;;border-radius:5px;padding:2px;">{{this.providedVersion}}</span><br/>
                </div>
            {{/each}}
            </div>
        </div>
        <div style="display:flex; flex-direction:column; flex-wrap:nowrap;flex-grow:1;">
            <p>The following templates have newer systems installed.</p>
            <div style="background-color:#ffffff;flex-grow:1;padding:5px;">
            {{#each outOfDateSystems}}
                <div>
                    {{this.name}} by {{this.author}}<br/>
                    Current System Version:  <span style="color:#00ff00;background-color:#000000;;border-radius:5px;padding:2px;">{{this.minimumSystemVersion}}</span>
                    Required System Version: <span style="color:#ff6666;background-color:#000000;;border-radius:5px;padding:2px;">{{../systemVersion}}</span><br/>
                </div>
            {{/each}}
            </div>
        </div>
        <div style="display:flex; flex-direction:column; flex-wrap:nowrap;flex-grow:1;">
            <p>The following templates have no version information:</p>
            <div style="background-color:#ffffff;flex-grow:1;padding:5px;">
            {{#each noVersionInformation}}
                <div>
                    {{this.name}} by {{this.author}}<br/>
                </div>
                {{/each}}
            </div>
        </div>
        <div style="display:flex; flex-direction:column; flex-wrap:nowrap;flex-grow:1;">
            <p>The following templates have no system information:</p>
            <div style="background-color:#ffffff;flex-grow:1;padding:5px;">
            {{#each noSystemInformation}}
                <div>
                    {{this.name}} by {{this.author}}<br/>
                </div>
            {{/each}}
            </div>
        </div>
    </div>

  </div>
  <button type="button" name="submit">
    Close
  </button>
</form>
