<form autocomplete="off" class="fvtt-party-sheet-template-status-dialog">
  <p>Template Status</p>
  <div style="display:flex; flex-direction:row; flex-wrap:nowrap">
    {{#if outOfDate.length }}
    <div>
        <p>The following templates are out of date:</p>
        <div style="display:flex; flex-direction:column; flex-wrap:nowrap;">
        {{#each outOfDate}}
            <div>
                <summary>
                    {{this.name}} by {{this.author}}<br/>
                    <details>
                        Version: {{this.version}}<br/>
                        Required System Version: <span style="color:#ff0000">{{this.minimumSystemVersion}}</span><br/>
                        CurrentSystem Version:  <span style="color:#00ff00;background-color:#555555">{{../systemVersion}}</span>
                    </details>
                </summary>
            </div>
        {{/each}}
        </div>
    </div>
    {{/if}}

    {{#if tooNew.length }}
    <div>
        <p>The following templates newer than your current system version:</p>
        <div style="display:flex; flex-direction:column; flex-wrap:nowrap;">
        {{#each tooNew}}
            <div>
                <summary>
                    {{this.name}} by {{this.author}}<br/>
                    <details>
                        Version: {{this.version}}<br/>
                        Required System Version: <span style="color:#00ff00;background-color:#555555">{{this.minimumSystemVersion}}</span><br/>
                        Current System Version:  <span style="color:#ff0000">{{../systemVersion}}</span>
                    </details>
                </summary>
            </div>
        {{/each}}
        </div>
    </div>
    {{/if}}

    {{#if noVersionInformation.length }}
    <div>
        <p>The following templates have no version information:</p>
        <div style="display:flex; flex-direction:column; flex-wrap:nowrap;">
        {{#each noVersionInformation}}
            <div>
                {{this.name}} by {{this.author}}<br/>
            </div>
        {{/each}}
        </div>
    </div>
    {{/if}}
  </div>
  <button type="button" name="submit">
    Close
  </button>
</form>
